.Thumb {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.List {
  list-style: none;
}

.TitleLoading {
  color: rgb(211, 241, 38);
}
